body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

#contenedor {
    position: relative;
    margin-top: 20px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#no {
    position: absolute;
}

#gif {
    display: none;
    margin-top: 20px;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
